/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-dark;
    border-radius: 3px;
    background-color: lighten($background-color, 20%);
    color: white;
}

/**
 * Blockquotes
 */
blockquote {
    color: silver;
    border-left: 4px solid $grey-color-dark;
    padding-left: $spacing-unit / 2;
    font-size: 1em;
    letter-spacing: -1px;
    font-style: italic;
    background-color: lighten($background-color, 20%);

    > :last-child {
        margin-bottom: 0;
    }

    /** by S.S. */
    .highlighter-rouge{
        background-color: #2b211f;
    }
}


/**
 * Syntax highlighting styles
 */
.highlight {
    .highlighter-rouge & {
      background: lighten($background-color, 20%);;
    }
}

/** by S.S. */
figure.highlight pre{
    background-color: #2b211f;
    code{
        background-color: inherit;
    }
}
