{% include head.html %}

<div id="loom" >
    <div id="sidebar">
        <h1 class="side-vspace"> Phantom </h1>
        <h1><a href="{{site.baseurl}}/">Home</a></h1>
        <nav>
            <h3>Pagine:</h3>
            <ul>
                {% for node in site.pages %}
                    {% if node.title != nil and node.url != '/' %}
                        {% capture nodediff %}{{ page.url | remove:node.url }}{% endcapture %}
                        <li><a {% if nodediff != page.url %}class="active" {% endif %}href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>

            <h3>Categorie:</h3>
            <li><a href="{{site.baseurl}}{{ site.data.codes.main }}">{{ site.data.codes.name }}</a></li>
        </nav>
    </div>
    <div id="container">
        <div id="container-autoalign">
            <h1>{{ page.title }}</h1>
            {{ content }}

            <h3>Code Samples:</h3>
            <a href="{{site.repoUrl}}{{page.url}}">{{page.url}}</a>

            {% include foot.html %}
        </div>
    </div>

</div><!-- loom -->
